body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(./header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

.btn-danger {
  background-color: orangered;
  border-color: orangered;
  border-radius: 1em;
  transition: all 0.5s ease-out;
}

.btn-danger:hover {
  background-color: black;
  border-color: black;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.btn-danger:focus {
  background-color: black;
  border-color: black;
}

.buffer {
  height: 12rem;
}
